*{
    padding : 0px;
    margin : 0px;
    box-sizing : border-box;
    font-family : arial;
    padding-right: 5px;
   
}

#page1{
    background-color: black;
    display : flex;
    width : 100vw;
    height : 100%;

}
.text{
    color: white;
}
#sidebar1 .text:hover{
    cursor: pointer;
    color : orangered;
}

#half{
    margin-left : 200px;
}
#pic1{
    display : flex;
    justify-content : space-between;
    flex-wrap : wrap;
}
#pic1>span:hover{
    background-color: #686868;
    cursor: pointer;
}
#pic1>span{
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgb(77, 72, 72);
}
.text1{
    color : white;
    font-size : medium;
}
#texta{
    padding-right : 70px;
    
}
#textb{
    padding-right : 60px;
}
#textc{
    padding-right : 120px;
}
#textd{
    padding-right : 30px;
}
#pic2{
    display : flex;
    flex-wrap : wrap;
    justify-content :safe;
    
}
#pic2>div{
    box-shadow: 1px 1px 5px rgb(49, 39, 39);
}
#pic2>div>.text:hover{
    cursor: pointer;
    color :#686868;
}
#pic2>div:hover{
    cursor: pointer;
    filter:brightness(1.5);
}
#all:hover{
    cursor: pointer;
    color:#686868;
}
.div2{
    display : flex;
}
.div2>h2>a{
    color : white;
    text-decoration: none;
}
#footer{
    position : fixed;
    left : 0px;
    bottom : 0px;
    height : 15vh;
    background-color : #181818 !important;
    
    width : 100%;
    color : white;
     display : flex;
     padding-bottom : 10px;
}
#foot21>img:hover{
    cursor: pointer;
}
#footer-re{
    position : fixed;
    height : 12vh;
    background-color : #181818 !important;
    bottom : 0px;
    width : 100%;
    color : white;
     display : flex;
     /* flex-wrap: wrap; */
     /* padding-bottom: 1px; */
}
/* #footer-re{
    width : 100vw;
    height : 15vh;
    color : #ffffff;
    display : flex;
    padding-bottom : 10px;
    background-color: #181818;
    z-index: 5;
} */

#bottom-left{
    display : flex;
    justify-content: space-between;
    align-items: center;
}
#heart{
    width : 40px;
    height : 30px;
}
#neffex{
    height : 60px;
    width : 60px;
    padding : 7px;
    margin : 7px;
}
#bottom-left>div>p{
    color : #b3b3b3;
}
#bottom-left>div{
  margin-top : 10px;
}
#heart{
    margin-top : 15px;
    padding-left : 10px;
}
#arrow{
    color : #686868;
}
#head2{
    display : flex;
    justify-content : right;
    
    padding-top : 10px;
}
#imgangle{
    width: 70px;
   padding-right: 50px;
   position : fixed;
}

#arrow{
    display : flex;
    flex-direction: row;
    justify-content : center;
    align-items : center;
    padding-top : 10px;
}
#arrow2{
    padding-left : 20px;
    position : fixed;
}
#arrow1{
    padding-top : 5px;
    position : fixed;
}

select {
    padding-top : 0px;
    border : none;
}
#sidebar1{
    /* flex : 0.5; */
    width : 200px;
    background-color : #000;
    display:flex;
    flex-direction : column;
     position : fixed; 
     top : 0px;
     left : 0px;
    height : 90%;
    /* z-index: 1; */
}
#logo{
    margin : 10px 15px 10px;
    width : 120px;
    height : 40px;
}
#sidebar1>div{
    padding-top : 10px;
}
#sidebar1>div>img{
   height : 20px;
   padding-right : 20px;
   padding-left : 20px;
}
.text{
    font-size:small;
}
#sidebar1>h2{
    margin-left : 20px;
    margin-top : 15px;
}
#head{
    display : flex;
    justify-content : space-between;
}
#morning{
    font-size: xx-large;
    padding-top : 50px;
}
#half{
   flex : 4;
   background-color : #151515;
}
#pic1{
    display : flex;
    justify-content:safe;
    width : 100%;
}
#pic2{
    width : 100%;
}
#pic1>span{
    width : 300px;
    background-color : #303030;
    display : flex;
    justify-content : space-between;
    align-items : center;
    margin-top : 10px;
}
#pic1>span>.text{
    margin-left : 0px;
}
#like{
    font-size: xx-large;
}
.img{
    color : white;
    
}


#angle{
    font-weight: 900;
    position : fixed;
    top : 10px;
    right : 10px;
    background-color : black;
    color : white;
    border-radius: 20%;
}
#angle:hover{
   color :#686868;
}
#allcont{
    display : flex;
    justify-content : space-between;
}
#allcont>h2{
    padding-left: 10px;
    padding-top: 10px;
}
#allcont>p{
    padding-top: 30px;
}
#main>div{
    padding : 10px;
}
#main2>span{
    padding : 10px;
}
#head{
    padding-left: 20px;
}
#main2>h1 ,#main2>#pic1{
    padding-left: 20px;
}
#main3>div{
    padding : 10px;
}
#pic2>div{
    padding: 6px;
}


/* next slide css */

#main{
   width : 100%;
  height : 100%;
  background-color : #000000;
}
#sidebar{
    width : 15vw;
    height : 85vh;
    display : flex;
    flex-direction : column;
    padding : 10px;
    margin-inline : 10px;
    position : fixed;
    left : 0px;
    top : 0px;
}
#playlist{
    padding-top : 20px;
}
#lastimg{
    padding-top : 60px;
    width : 200px;
    
}


#up{
    
    background: linear-gradient(#7b958f , #3a4644);
    display : flex;
    margin-top : 0%;
    padding-top: 0%;
    height : 240px;
    width : 1150px;
    position : fixed;
    top : 0px;
    right : 0px;
}
#text{
    margin-top : 50px;
}
#p1{
    font-family: Circular Std;
font-size: 13px;
font-weight: 500;
line-height: 16px;
letter-spacing: -0.02em;
text-align: left;
  color : #ffffff;
  padding-top : 0px;
  margin-top : 10px;
}
#big{
    width : 607px;
    height : 114px;
    font-family: Circular Std;
font-size: 90px;
font-weight: 900;
line-height: 114px;
letter-spacing: -0.02em;
text-align: left;
color : #ffffff;
}
.p2{
    color : #d3d3d3;
}
#spotify{
    width : 49px;
    height : 22px;
    color : #ffffff;
}
#sidebar>div :hover{
    background-color: #282828;
    color : white;
    cursor: pointer;
     
}

#sidebar>div{
    width : 100%;
}
.stext{
    color : #858585;
    font-family: Circular Std;
 font-size: 15px;
font-weight: 500;
 padding-left: 10px;

}
#sidebar>div{
    display : flex;
    margin-top: 20px;
    margin-right: 10px;
    
    
}
#playlist1{
    margin-top: 20px;
    margin-bottom: -10px;
}

#img1{
    width: 129.15px ;
height: 39.41px ;
margin-top: 10px;
margin-left: -10px;
}
.img2{
    width: 20px;
height : 20px;


}
#half{
    display : flex;
}
#playlist{
    padding-top : 0px;
    width : 80vw;
}
#play>.img3{
   padding : 20px;
}
#play1{
    width: 70px;
    margin-bottom: 7px;
}
#play2 { 
    margin-bottom : 10px;
    width : 65px;
}

#play3{
    margin-bottom : 20px;
}
.td1{
    display : flex;
    justify-content : center;
    align-items : center;
    
}
.td1>p , .td1>img , .td1>div{
    padding : 10px;
}
#down{
    color : white;
    background-color : #000000;
    padding-left : 218px;
    padding-top : 240px;
    width :100vw;

    
}
#half{
    width : 100vw;
}
.list :hover{
    background-color: #222525;
    cursor: pointer;
}

.list>div{
    display : flex;
    flex-direction : row;
    justify-content: space-between;
    align-items: center;
}
 
#playTitle{
    background: linear-gradient(#252e2b , black);

}
#first-1{
    background-color: #212423;
   
}
#title{
    padding-bottom: 20px;
}
#title>p{
    font-weight: 100;
    font-size: smaller;
}
p{
    font-weight: 100;
    font-size: smaller;
}
h3{

    font-weight: 100;
    font-size: smaller;
}
#good>h3 , #good>p{
    font-weight: 100;
    font-size: smaller;
}
section{
    background-color : #000000;
    color : white;
    width : 80vw;
}
.list{
    height: 50px;
}
.list > div > p{
    padding : 2px;
}
.time{
    padding :  2px;
    font-weight: 100;
    font-size: smaller;
}
#title{
    display : flex;
    justify-content : space-between;

}
#first>div{
    display : flex;
    justify-content : space-between;
}
#f1{
    display : flex;
    padding :10px;
}
#f1>img , #f1>div{
  padding : 10px;
}
#first>div>#f2 , #first>div>#f3 ,#first>div>#f4{
    padding-top : 25px;
}
#f3{
    margin-left : 50px;
}
#f2{
    margin-left : 30px;
}
#f4>img{
    padding-inline: 12px;
}
#f4{
    padding-right : 30px;
}
.time>img{
    padding-inline : 12px;
}
#pr1{
    padding-left : 15px;
}
#pr3{
    padding-right : 280px;
}
#imgplay{
    height : 30px;
    width : 30px;
    margin-top : 10px;
}
#footer{
    display : flex;
    justify-content : space-between;
    width : 100vw;
}
#footer>#foot1{
    display : flex;
    padding-top: 20px;
    margin : 0px;
}
#footer-re{
    display : flex;
    justify-content : space-between;
    
}
#footer-re>#foot1{
    display : flex;
    padding-top: 20px;
    margin : 0px;
}
#foot1>div>p{
    font-size: medium;
    color : white;
}
#foot1>div{
    font-size: small;
    color :#686868;
}
#foot1>.re-img{
    width : 40px;
    height : 20px;
}

#foot1>img{
    padding-left : 20px;
    height : 40px;
    width : 60px;
}
#foot2>img{
    width : 500px;
}
#foot2{
    display : flex;
    flex-direction : column;
    align-items : center;
}
#foot2-re{
    display : flex;
    flex-direction : column;
    align-items : center;
}
#foot2>#foot21>img{
    padding-left : 20px;
    padding-bottom : 10px;

}
#foot2-re>#foot21>img{
    padding-left : 20px;
}
#foot2-re>#foot21>#footmid{
    padding-top: 10px;
}
#re1{
    width : 600px;
}
#foot3>img{
    
    padding-right : 10px;
    padding-top : 30px;

}
#foot3-img{
    padding-bottom: 10px;
}

.fc{
    margin-bottom : 10px;
}
#foot2 > #foot21 > #footmid{
    padding-top : 10px;
}
#half1{
    height : 100%;
}

@media screen and (max-width : 500px){
    #half{
        width : 120% !important;
    }
    
    #texta ,#textb ,#textc{
        padding-left : 10px;
    }
    #textd{
        padding-right : 10px;
    }
    #pic1>#spanc{
        width : 100%;
    }
    #footer{
        width : 100%;
        
    }
    #footer-re{
        height: 30vh;
       background-color: #181818;
    }
    #bottom-left{
        display: none;
    }
    
    #foot3{
        display: none;
    }
    #foot1{
        visibility: hidden;
    }
    #foot2-re>#foot21>img{
        margin-inline: 20px;
    }
    #re1{
        padding-right: 120px;

    }
    #foot2-re{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #foot2-re>#foot21{
        display: flex;
        align-items: center;
        margin-right: 60px;
    }
     #foot2-re>#foot21>#footmid{
          width : 100px;
    }
    #foot2-re>#foot21>.fc{
        width : 40px;
    }
    
    #re1{
        width : 1000px;
        margin-top: 20px;
        margin-left: 60px;
    }
    #foot2{
        padding-left: 20px;
    }
    
}

@media screen and (min-width : 2560px){
    #down  {
        padding-top : 250px;
        padding-left : 500px;
        height: 100vh;
    }
    #up{
        height : 250px;
        width : 2060px
    }
    #footer{
        height : 5vh;
    }
    #half{
        height : 95vh;
    }
    #footer-re{
        height : 5vh;
    }
}
@media screen and (width : 1440px){
    #down > #play {
        padding-top : 180px;
    }
    #half{
        height : 92vh;
    }
    #footer{
        height : 8vh;
    }
    #footer-re{
        height : 10vh;
    }
    #half1{
        height : 1000px;
        width : 1450px
    }
    #down{
        padding-top: 250px;
        width : 1450px;
        height : 1000px;
    }
    #up{
        width : 1230px;
        height : 250px;
    }
    
}
@media screen and (width : 1024px){
    #down > #play {
        padding-top : 30px;
    }
    #footer{
        width : 100%;
    }
    #footer-re{
        height : 11vh;
    }
    #re1{
        width : 50vw;
    }
    #half1{
        width : 1080px;
        height: 800px;
    }
    #down{
        padding-top: 230px;
        width : 1080px;
        height : 1000px;
    }
    #up{
        height : 240px;
    }
}
@media screen and (width : 768px){
    #up {
       height : 250px;
      margin-right: -12px;
    }
    #pr3{
        padding-right: 80px;
    }
    #footer{
        width : 100%;
        margin : 0px;
    }
    #foot2>img{
        width : 300px;
    }
    #footer-re{
        height : 15vh;
    }
    #foot1>div>p{
        display: none;
    }
    .re-img{
        display: none;
    }
    #re1{
        width : 50vw;
    }
    #foot3{
        padding-left: 50px;
    }
    #foot2{
        padding-left: 50px;
    }
     #half1{
        width : 850px;
    } 
    
    .p2{
        font-size: 10px;
    }
    
#down{
    width : 850px;
    height : 1000px
}
#half1{
    height : 1000px;
}
}
@media screen and (width : 425px){
    #up{
        width :1000px;
    }
    #down{
        width : 100vw;
        padding-top: 300px;
    }
    #play , #title , #first{
        width : 1000px;
    }
    section{
        width : 1000px;
        height : 1000px;
    }
    
    #half1{
        height : 2500px;
    }
}

#pic1 >span> #texta >a{
    color : white;
    text-decoration : none;
}


@media screen and (max-width : 300px){
    #half1{
        width : 400vw;
        height :  400vh;
       overflow: hidden;
    }

    #up{
        width : 320vw;
        height : 80vh;
    }
    #play{
        padding-top: 290px;
    }
    /* .list{
        width : 400vw;
    } */
    #down>section{
        width : 260vw;
    }
    #playTitle{
        width : 400vw;
    }
    
    
}

@media screen and (min-width : 300px) and (max-width : 400px){
    #up{
        height : 380px;
        width : 1030px;
    }
    #down{
          padding-top: 380px;
    }
    #half1{
        height : 400vh;
        width : 1250px;
    }
    #down>section{
        width : 260vw;
    }
    #playTitle{
        width : 1000px;
    }
}

@media screen and (min-width : 400px) and (max-width : 500px){
    #up{
        height : 360px;
        width : 1130px;
    }
    #down{
          padding-top: 360px;
    }
    #half1{
        height : 300vh;
        width : 1350px;
    }
    #down>section{
        width : 260vw;
    }
    #playTitle{
        width : 1120px;
    }
    #re1{
        width : 120%;
    }
    #foot2-re{
        margin-right: 100px;
    }
}
@media screen and (min-width : 500px) and (max-width : 600px){
    #up{
        height : 300px;
        width : 1480px;
    }
    #down{
          padding-top: 300px;
    }
    #half1{
        width : 1700px;
        height : 350vh;
    }
    #down>section{
        width : 260vw;
    }
    #playTitle{
        width : 1400px;
    }
}
@media screen and (min-width : 600px) and (max-width : 700px){
    #up{
        height : 300px;
        width : 1000px;
    }
    #down{
          padding-top: 300px;
    }
    #half1{
        width : 770px;
        height : 150vh;
    }
    #big{
        font-size: 70px;
    }
    #down>section{
        width : 260vw;
    }
}
@media screen and (min-width : 700px) and (max-width : 800px){
    #up{
        height : 300px;
        width : 175vw;
    }
    #down{
          padding-top: 300px;
          width : 200vw;
    }
    #half1{
        width : 1550px;
        height : 200vh;
    }

    #down>section{
        width : 162vw;
    }
}
@media screen and (min-width : 800px) and (max-width : 900px){
    #up{
        height : 300px;
        width : 780px;
    }
    #down{
          padding-top: 300px;
    }
    #half1{
        height : 120vh;
        width : 1000px;
    }
    #big{
        font-size: 70px;
    }
    #playTitle{
        width : 780px;
    }
}
@media screen and (min-width : 900px) and (max-width : 1000px){
    #up{
        height : 300px;
        width : 780px;
    }
    #down{
          padding-top: 300px;
    }
    #half1{
        width : 1000px;
        height : 100vh;
    }
    #big{
        font-size: 70px;
    }
    #playTitle{
        width : 780px;
    }
}
@media screen and (min-width : 1000px) and (max-width : 1100px){
    #up{
        height : 300px;
        width : 84vw;
    }
    #down{
          padding-top: 300px;
    }
    #half1{
        width : 1000px;
        height : 100vh;
    }
    
}
@media screen and (min-width : 1100px) and (max-width : 1300px){
    #up{
        height : 300px;
        width : 83vw;
    }
    #down{
          padding-top: 300px;
    }
    #half1{
        width : 100vw;
        height : 100vh;
    }
    
}
@media screen and (min-width : 1300px) and (max-width : 1500px){
    #up{
        width : 84vw;
        height : 250px;
    }
    #half1{
        height : 100vh;
        width : 100vw;
    }
}
@media screen and (min-width : 1500px) {
    #up{
        width : 81vw;

    }
   

}
@media screen and (width : 1440px){
    #up{
        width : 85.5vw;
    }
}
@media screen and (width : 280px){
    #up{
        width : 900px;
        height : 300px;
    }
    #down{
        padding-top: 20px;
    }
    #up>img{
        width : 200px;
        height : 200px;
        margin-top: 70px;
    }
    #foot2-re{
        margin-left : -100px;
    }
    #half{
        width : 200vw;
    }
    .list{
        width : 120%;
    }
}
@media screen and (max-width : 540px){
    .td1 img{
        width : 150px;
        height : 150px;
    }
    .list{
        margin-block: 100px;
    }
    #good>h3{
        font-size: 20px;
    }
    .list>div>p{
        font-size: 20px;
    }
    .list{
        margin-inline: 10px;
    }
    #down>section>:first-child{
        margin-top: 10px;
    }
    
    #title>#pr1{
         margin-left: 40px;
    }
   
}

@media screen and (min-width : 550px) and (max-width : 1000px){
    #foot2{
        margin-top: 30px;
    }
    
}
@media screen and (width : 540px){
    #bottom-left{
        display: none;
    }
    #foot3{
        display: none;
    }
    #foot2{
        margin-left: 20px;
    }
    #foot2-re{
        width : 2000px;
    }
    #re1{
        width : 80%;
    }
    #foot1{
        visibility: hidden;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 20px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    color : black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 3px 3px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
  }